<!-- Auflistung aller(!) Questions -->
	<table class="table table-condensed" id="q_table">
		<tr>
 			<th>Frage</th>
 			<th>Optionen (if any)</th>
 			<th>Löschen</th>
 			<th>pos</th>
 		</tr>
		
		
		<% @questions.each do |q| %>
				<tr id=<%= q.id %>>
		   			<td><a id=<%= "editquestion"+q.id.to_s %> href="#"><i class="icon-pencil"></i></a>
						<%= best_in_place q, :question, :path => user_event_question_path(q.event.user,q.event,q), :activator => "#editquestion"+q.id.to_s %>
					</td>
		   			<td><% if q.type == "BoolQuestion" %>
			   				<a id=<%= "editoption1"+q.id.to_s %> href="#"><i class="icon-pencil"></i></a>
			   				<%= best_in_place q, :option1, :path =>  user_event_question_path(q.event.user,q.event,q), :activator => "#editoption1"+q.id.to_s %> <br />
			   				<a id=<%= "editoption2"+q.id.to_s %> href="#"><i class="icon-pencil"></i></a>
			   				<%= best_in_place q, :option2, :path =>  user_event_question_path(q.event.user,q.event,q), :activator => "#editoption2"+q.id.to_s %> 
			   				
		   				<% end %> 
						
						<% if q.type == "OptQuestion"  %>
							<a id=<%= "editoptions"+q.id.to_s %> href="#"><i class="icon-pencil"></i></a>
							<%= best_in_place q, :options, :path => user_event_question_path(q.event.user,q.event,q), :activator => "#editoptions"+q.id.to_s, :type => :textarea %>
						<% end %>
		   			</td>
		   			<td> <%= link_to '<i class="icon-remove-circle"></i>'.html_safe, 
							user_event_question_path(@event.user_id, @event, q), 
							confirm: 'Sicher??!', 
	    					method: :delete, 
	    					:remote => :true 
	    				%>
	    			</td>
	    			<td><%= link_to '<i class="icon-arrow-down"></i>'.html_safe, 
	    					user_event_question_position_down_path(@event.user_id, @event, q),  
	    					:remote => true 
	    				%>
	    				<%= link_to '<i class="icon-arrow-up"></i>'.html_safe, 
	    					user_event_question_position_up_path(@event.user_id, @event, q),  
	    					:remote => true 
	    				%>
	    			</td>
		   		</tr>
		<% end %>
	</table>