<% if session[:user_id] %>
	<% if session[:user_id] == 19 %>
		<h2>Alle Veranstaltungen</h2>
	<% else %>
		<h2>Deine Veranstaltungen</h2>
	<% end %>
			
		<% if notice %>
			<p id="notice" ><%= notice %></p>
		<% end %>
		
<div class="well">		
	<table class="table table-striped">
  <tr>
    <th>Titel</th>
    <th>Beschreibung</th>
    <th>Link</th>
    <th>Gesperrt</th>
    <th>Anmeldungen</th>
    <th>Max. Teilnehmerzahl</th>
    <th>Anmeldeschluss</th>
    <% if session[:user_id] == 19 %>
    	<th>Erstellt von</th>
    <% end %>
    <th></th>
  </tr>

	<% @events.each do |event| %>
	<% user = event.user_id %>
	  <tr id=<%= event.id %>>
		<td><%= event.title %></td>
	    <td><%= truncate(event.description_to_html).html_safe %></td>
	    <td><%= event.link %></td>
	    <td><% if event.locked %>
	    		ja
	    	<% else %>
	    		nein
	    	<% end %></td>
	    <td><%= event.registrations.count %></td>
	   	<td><% if event.max_registration_count == -1 %>
	    		unbegrenzt
	    	<% else %>
	    		<%= event.max_registration_count %>
	    	<% end %></td>
	    <td><%= event.expiry.strftime('%d.%m.%Y') %></td>
	    <% if session[:user_id] == 19 %>
	    	<td><%= User.find(user).name %></td>
	    <% end %>
	    <td><%= link_to '<i class="icon-zoom-in"></i>'.html_safe, user_event_path(user, event) %><br>
	    	<%= link_to '<i class="icon-wrench"></i>'.html_safe, edit_user_event_path(user, event) %><br>
	    	<%= link_to '<i class="icon-tags"></i>'.html_safe, user_event_duplicate_path(user,event) %><br>
	    	<%= link_to '<i class="icon-trash"></i>'.html_safe, user_event_path(user, event), 
	    				confirm: 'Diese Veranstaltung wirklich löschen?', 
	    				method: :delete, :remote => :true %></td>
	  </tr>
	<% end %>
</table>	
	<div align="right">
		<%= link_to 'Veranstaltung erstellen', new_user_event_path(@user), :class => "btn" %>
	</div>

</div>

	
<% else %>
	<% if notice %>
		<p id="notice" ><%= notice %></p>
	<% end %>

	<h1>Information only for Jack Norris</h1>
	<p> Please <%= link_to "Login", login_path %> to see more. </p>
	
<% end %>

