<div class="well">	
	
	<h4 align="right">Userübersicht</h4>
	<br />
		
		<table class="table table-striped">
		  <tr>
		    <th>Name</th>
		    <th>Email</th>
		    <th></th>
		  </tr>
		
		<% @users.each do |user| %>
		  <tr id=<%= user.id %>>
		    <td> <%= user.name %></td>
	    	<td><%= user.email %></td>
		    <td><%= link_to '<i class="icon-wrench"></i>'.html_safe, edit_user_path(user) %>
		    	<%= link_to '<i class="icon-trash"></i>'.html_safe, user, confirm: 'User '+user.name+' wirklich löschen?', 
		    						:method => :delete, :remote => true %>
		    </td>
		  </tr>
		<% end %>
		</table>
		
	<div align="right">
		<%= link_to "User erstellen", new_user_path, :class => "btn" %>
	</div>
</div>
