<%= form_for([@user, @event, @registration]) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  
  
  	<%= f.fields_for :answers, @registration.answers do |a| %>	
		
		<% q = a.object.question %>
		
		<% if q.type == "TextQuestion" %>
			<div class="field">
				<%= a.label :input, q.question %>
				<%= a.text_field :input %>
		 	</div>
		 	<div class="field">
		 		<%= a.hidden_field :type, :value => "TextAnswer" %>
		 	</div> 
		 	
		<% elsif q.type == "BoolQuestion" %>
			<div class="field">
				<%= a.label :input, q.question %> 
				 
				<%= a.radio_button :input, q.option1, :checked => true %> 
				<%= a.label q.option1, :value => q.option1 %>
				<%= a.radio_button :input, q.option2 %>
				<%= a.label q.option2, :value => q.option2 %>
	 		 </div>		
	 		 <div class="field">
		 		<%= a.hidden_field :type, :value => "BoolAnswer" %>
		 	</div> 
		 	
	 	 <% elsif %>
			Checkboxen
		<% end %>
		
	 	<div class="field">
	 		<%= a.hidden_field :question_id, :value => a.object.question.id %>
	 	</div> 
	 	<div class="field">
	 		<%= a.hidden_field :position, :value => a.object.question.position %>
	 	</div> 
	<% end %>
 
  
    
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>

<% end %>
