<%= form_for([@user, @event, @registration]) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-striped">
		<tr>
			<td><%= f.label :email, "Email" %></td>
			<td><%= f.text_field :email, :class => "span9" %></td>
		</tr>
  
  
  	<%= f.fields_for :answers, @registration.answers do |a| %>	
		
		<% q = a.object.question %>

		<tr>
		<% if q.type == "TextQuestion" %>
			<td class="span5"><%= a.label :input, q.question %></td>
			<td><%= a.text_field :input, :class => "span9" %></td>
		 	
		 		<%= a.hidden_field :type, :value => "TextAnswer" %> 
		 	
		<% elsif q.type == "BoolQuestion" %>
			<td class="span5"><%= a.label :input, q.question %></td> 
				 
			<td><div class="field">
				<%= a.radio_button :input, q.option1, :checked => true %> 
				<%= a.label q.option1, :value => q.option1, :style => "display:inline" %>
				<%= a.radio_button :input, q.option2 %>
				<%= a.label q.option2, :value => q.option2, :style => "display:inline" %>
				</div>
	 		 </td>		
	 		 <div class="field">
		 		<%= a.hidden_field :type, :value => "BoolAnswer" %>
		 	</div> 
		 	
	 	 <% elsif q.type == "OptQuestion" %>
			<td class="span5"><%= a.label :input, q.question %></td> 
				 
			<td><div class="span1"></div>
				<div class="span11">
				<% q.options.each_line do |opt| %>
					<% if a.object.input!=nil %>
						<% if a.object.input.include?(opt) %>
							<%= check_box_tag a.object.position.to_s+'_options[]', opt, true %>					
						<% elsif %>
							<%= check_box_tag a.object.position.to_s+'_options[]', opt, false %>
						<% end %>
					<% else %>
						<%= check_box_tag a.object.position.to_s+'_options[]', opt, false %>
					<% end %>
					
					<%= a.label opt, :style => "display:inline" %><br />
				<% end %>
				</div>
	 		 </td>		
	 		 <div class="field">
		 		<%= a.hidden_field :type, :value => "OptAnswer" %>
		 	</div> 
		 	</tr>
		<% end %>
		
	 	<div class="field">
	 		<%= a.hidden_field :question_id, :value => a.object.question.id %>
	 	</div> 
	 	<div class="field">
	 		<%= a.hidden_field :position, :value => a.object.question.position %>
	 	</div> 
	<% end %>
 

</table>
    
  <div class="actions" align="right">
    <%= f.submit "Speichern", :class => "btn btn-success"%>
  </div>

<% end %>
