<table class="table table-striped">
	  <tr>
	  		<th></th>
	    	<th>Email</th>
	    <% @questions.each do |q| %>
	    	<th><%= q.question %></th>
	    <% end %>
	    	<th></th>
	  </tr>
	
	<% i=1 %>
	<% @registrations.each do |r| %>
	  <tr id=<%= r.id %> 
	  	<% if i>r.event.max_registration_count && r.event.max_registration_count != -1 %>
	  		class="error"
	  	<% end %>
	  	>
	  		<td><% if i>r.event.max_registration_count && r.event.max_registration_count != -1 %>
	  				[W]
	  			<% end %>
	  			<% i+=1 %>
	  		</td>
	  		<td> <%= r.email %></td> 
	  		
	  		<% @answers = r.answers.all %>
	  		<% @answers = @answers.sort_by{ |q| q.position.to_i }%>
	  		
	  		<% @answers.each do |a| %>
	  			<td><%= a.input %></td>
	  		<% end %>
	  		<td><%= link_to 'Anmeldung löschen', user_event_registration_path(r.event.user, r.event, r), 
							confirm: "Anmeldung wirklich löschen? \nACHTUNG: Alle Daten sind dann weg!", 
							method: :delete, remote: true,
	    					:class => "btn"%></td>
	  </tr>
	<% end %> 
</table>
