	<h1>ANMELDUNG</h1>
	<h2 class="text-center"><%= @event.title %></h2><br />

<div class="well"><!-- Veranstaltungsdetails -->
	<h4 class="text-right"> Veranstaltungsdetails</h4><br /> 
		<%= @event.description%>
</div>

	<!-- <p id="notice"><%= notice %></p> -->

<div class="well">
<% if @event.expiry < Date.today  || @event.locked %>
	<div class="alert alert-error"><h3>Anmeldung leider bereits geschlossen!</h3></div>

<% elsif @event.registrations.count >= @event.max_registration_count && @event.max_registration_count > 0 %>
	
	
	<div class="alert alert-block">
		<h4>Achtung!</h4>
		In dieser Veranstaltung sind bereits alle Plätze belegt. 
		Wenn Sie sich anmelden, speichern wir Ihre Daten auf einer Warteliste. <br />
		Sollten Sie nachrücken, informieren wir Sie umgehend per Email. 		
	</div><br />
	
	<h4 class="text-right">Ihre Anmeldedaten</h4><br />

	<div id="form">
		<%= render "form" %>
	</div>

<% else %>
	
	<h4 class="text-right">Ihre Anmeldedaten</h4><br />
	
	<div id="form">
		<%= render "form" %>
	</div>

<% end %>
</div>
