	
	<h1 class="text-center"><%= @event.title %></h1><br />

<div class="well"><!-- Veranstaltungsdetails -->
	<h4 class="text-right"> Veranstaltungsdetails</h4><br /> 
		<%= @event.description_to_html.html_safe %>
</div>
	
	<div class="well">

	<% if @waitlist %>
		<%= render 'waitlist_info' %>
	<% end %>
		
		<h4 class="text-right">Ihre Anmeldedaten</h4><br />
		
<table class="table">
	<tr>
		<th>Email</th>
		<td><%= @registration.email %></td>
	</tr>
	
	<% @answers.each do |a| %>
	<tr>
		<th><%= a.question.question %></th>
		<% if a.type == "OptAnswer" %>
			<td><%= a.to_html.html_safe %></td>
		<% else %>
			<td><%= a.input %></td>
		<%end %>
	</tr>
	<% end %> 
	
</table>

<div align="right">
	<%= link_to 'Angaben ändern', edit_user_event_registration_path(@user, @event, @registration), 
							:class => "btn" %>
	
	<%= link_to 'Abmelden', user_event_registration_path(@user, @event, @registration), 
							confirm: "Wollen Sie sich wirklich abmelden? \n\nACHTUNG: All Ihre Daten werden dabei gelöscht, bei Veranstaltungen mit beschränkter Teilnehmerzahl ist eine Neuanmeldung unter Umständen nicht möglich!", 
	    					method: :delete,
	    					:class => "btn btn-danger" %>
	</div>
</div>
