<dl class="dl-horizontal" id="event_table">
	<dt>Titel</dt>
	<dd><%= @event.title %>
	</dd>
	<dt>Beschreibung</dt>
	<dd><%= @event.description_to_html.html_safe %>			
	</dd>
	<dt>Anmeldelink</dt>
	<dd>http://localhost:3000/anmeldung/<%= @event.link %></dd>
	<dt>Anmeldung
	</dt>
	<dd><% if @event.locked %>
			<div class="text-error"><strong>GESPERRT</strong></div>
			<%= link_to "freischalten", user_event_invert_locked_path(@user,@event), :class => "btn", :remote => true %>
		<% else %>
			<div class="text-success"><strong>GEÖFFNET</strong></div>
			<%= link_to "schließen", user_event_invert_locked_path(@user,@event), :class => "btn", :remote => true %>
		<% end %>
	</dd>
	<dt>Anmeldungen</dt>
	<dd><%= @event.registrations.count %></dd>
	<dt>Max. Teilnehmerzahl</dt>
	<dd><%= @event.max_registration_count %>
    </dd>
	<dt>Anmeldeschluss</dt>	
	<dd><%= @event.expiry.strftime('%d.%m.%Y')%>
	</dd>
	<dt>Erstellt von</dt>
	<dd><%= User.find(@event.user_id).name %></dd>
</dl>
