<%= form_for([@user, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-striped">
		<tr>
			<th>Veranstaltungstitel</th>
			<td><%= f.text_field :title, :class =>"span12", :placeholder => "Titel" %></td>
		</tr>
		<tr>
			<td><strong>Beschreibung</strong></td>
			<td><%= f.text_area :description, :rows => 5, 
					:class => "span12", :placeholder => "Zeit, Ort, weitere Details" %>
			</td>
		</tr>
		<tr>
			<td><strong>Maximale Teilnehmerzahl</strong></td>
			<td><%= f.number_field :max_registration_count, :class => "span4",
					:placeholder => "Falls keine Begrenzung: -1" %></td>
		</tr>
		<tr>
			<th>Anmeldeschluss</th>
			<td><%= f.date_select :expiry %></td>
		</tr> 
	</table>
  
  <div class="actions" align="right">
    <%= f.submit "Veranstaltung speichern", :class => "btn btn-primary"%>
  </div>
<% end %>
