<%= form_for([@user, @event], :url => user_events_path(@user)) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      Please go back and try again. Thanks.
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => @pattern.title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :value => @pattern.description %>
  </div>
  <div class="field">
    <%= f.label :locked %><br />
    <%= f.check_box :locked, :value => @pattern.locked %>
  </div>
  <div class="field">
    <%= f.label :max_registration_count %><br />
    <%= f.number_field :max_registration_count, :value => @pattern.max_registration_count %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br />
    <%= f.date_select :expiry, :value => @pattern.expiry %>
  </div>
  
  <!-- Questions -->
  <%= f.fields_for :questions, @event.questions do |q| %>
  	
		<div class="field">
			<%= q.label :question %>
			<%= q.text_field :question %>
		</div>
		<div class="field">
			<%= q.label :position %>
			<%= q.text_field :position %>
		</div> 
		
		<% if @question_types[q.object.position] == "TextQuestion" %>
			<div class="field">
				<%= q.hidden_field :type, :value => "TextQuestion" %>
			</div>
		<% end %>
		 	 
		<% if @question_types[q.object.position] == "BoolQuestion" %>
			<div class="field">
				<%= q.label :option1 %>
				<%= q.text_field :option1 %>
		 	</div>
			<div class="field">
				<%= q.label :option2 %>
				<%= q.text_field :option2 %>
		 	</div>
		 	<div class="field">
				<%= q.hidden_field :type, :value => "BoolQuestion" %>
			</div>
		<% end %>
		
		<% if @question_types[q.object.position] == "OptQuestion" %>
		 	<div class="field">
				<%= q.label :options %>
				<%= q.text_area :options %>
		 	</div>
		 	<div class="field">
				<%= q.hidden_field :type, :value => "OptQuestion" %>
			</div>
	 	<% end %>
	 	 
	<% end %>

  
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>

<% end %>
