<div class="row-fluid">
<div class="span6">
	
	<div class="well">
	
	<p id="notice"><%= notice %></p>
	
		<%= render 'event_table' %>
	
	<%= link_to "Veranstaltung duplizieren", user_event_duplicate_path(@user,@event) %> |
	<%= link_to "Alle Anmeldungen", user_event_registrations_path(@user,@event) %> 
	
	</div>
	
	<div class="well">
	<h4>Frage f체r Texteingaben</h4>
	<p><em>Vorname, Nachname, Adresse, ...</em></p>
	<%= form_for([@user, @event, @event.questions.build], 
			:url => user_event_questions_path(@user, @event), :remote => true) do |f| %>
		
		<div class="field">
			<%= f.text_field :question %>
		</div>
		<div class="field">
			<%= f.hidden_field :position, :value => @event.questions_count+1 %>
		</div>
		<div class="field">
			<%= f.hidden_field :type, :value => "TextQuestion" %>
		</div>
		<div class="actions" align="right">
			<%= f.submit "Erstellen", :class => "btn", :remote => true %>
		</div>
	<% end %>
	</div>
	
	<div class="well">
	<h4>Frage f체r Alternativauswahl</h4>
	<p><em>Geschlecht: m채nnlich/weiblich, ...</em></p>
	<%= form_for([@user, @event, @event.questions.build], 
			:url => user_event_questions_path(@user, @event), :remote => true) do |f| %>
		
		<div class="field">
			<%= f.label :question, "Frage: ", :style => "display:inline" %>
			<%= f.text_field :question %>
		</div>
		<div class="field">
			<%= f.label :option1, "Alternative 1: ", :style => "display:inline" %>
			<%= f.text_field :option1 %> 
		</div>
		<div class="field">
			<%= f.label :option2, "Alternative 2: ", :style => "display:inline" %>
			<%= f.text_field :option2 %>
		</div>
		<div class="field">
			<%= f.hidden_field :position, :value => @event.questions_count+1 %>
		</div>
		<div class="field">
			<%= f.hidden_field :type, :value => "BoolQuestion" %>
		</div>
		<div class="actions" align="right">
			<%= f.submit "Erstellen", :class => "btn", :remote => true %>
		</div>
	<% end %>
	</div>
	
	<div class="well">
	<h4>Frage zur Auswahl verschiedener Optionen</h4>
	<p><em>F채cher: Informatik/Mathematik/Spanisch/... <br />
		(Pro Option eine Zeile)
	</em></p>
	<%= form_for([@user, @event, @event.questions.build], 
			:url => user_event_questions_path(@user, @event), :remote => true) do |f| %>
		
		<div class="field">
			<%= f.label :question, "Frage: ", :style => "display:inline" %>
			<%= f.text_field :question %>
		</div>
		<div class="field">
			<%= f.label :options, "Optionen: ", :style => "display:inline" %> 
			<%= f.text_area :options %> 
		</div>
		<div class="field">
			<%= f.hidden_field :position, :value => @event.questions_count+1 %>
		</div>		
		<div class="field">
			<%= f.hidden_field :type, :value => "OptQuestion" %>
		</div>
		<div class="actions" align="right">
			<%= f.submit "Erstellen", :class => "btn", :remote => true %>
		</div>
	<% end %>
	</div>
</div>


<div class="span6">
	<!-- Auflistung der Questions -->
	
	<div class="well">
		<div id="tq_table">
			<%= render "questions/q_table" %>
		</div>
	</div>
	
</div>
