<!DOCTYPE html>
<html>
<head>
  <title>DDI Anmeldung</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div>
<div class="navbar navbar-fixed-top navbar-inverse">
	<nav class="navbar-inner">
		<div class="container">
			<%= render 'layouts/navigation'%>
		</div>
	</nav>
</div>
</div>

<div class="span1"></div>
<div class="span10">
	<%= yield %>
</div>
<div class="span1"></div>

</body>
</html>
